.topNavigateBarContainer {
  height: 56px;
  display: flex;
  align-items: center;
}
.paddingLayout {
  width: 100%;
  padding: 0 16px;
}
.paddingSpaceBetweenLayout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}
