.topNavigateBarContainer {
  height: 56px;
  display: flex;
  align-items: center;
}

.myPageLayoutContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  cursor: pointer;
  .correction {
    color: var(--greyscale-G04);
  }
}
