.topicTitle {
  margin-bottom: 12px;
}

.topicItem {
  position: relative;
  width: 198px;
  height: 198px;
  border: 1px solid var(--gray-3);
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 12px;
}

.topicItemText {
  margin-top: 10px;
  padding: 0 16px;
  gap: 2px;
}
.dDayWrapper {
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: var(--tertiary);
}
