:root {
  --white: #ffffff;
  --black: #000000;

  --gray-1: #fcfcfc;
  --gray-2: #f5f5f5;
  --gray-3: #efefef;
  --gray-4: #e8e8e8;
  --gray-5: #dfdfdf;
  --gray-6: #c8c8c8;
  --gray-7: #b7b7b7;

  --gray-a: #949494;
  --gray-b: #777777;
  --gray-c: #616161;
  --gray-d: #555555;
  --gray-e: #3f3f3f;
  --gray-f: #383838;
  --gray-g: #2a2a2a;
  --gray-h: #1f1f1f;
  --gray-i: #111111;

  --navy-1: #c8cfdc;
  --navy-2: #98a0b3;
  --navy-3: #707991;
  --navy-4: #464f69;
  --navy-5: #323b54;
  --navy-6: #262f4a;
  --navy-7: #202a43;

  --background: #ffffff;
  --selected: #f5f5f5;

  --blue: #0071f0;
  --blue-1: #638dff;
  --blue-2: #4058a6;

  --red: #eb0d00;
  --red-1: #ff334b;
  --red-2: #a62131;

  --orange: #ff9500;
  --yellow: #ffcc00;
  --green: #26873e;
  --teal: #5ac8fa;
  --indigo: #5856d6;
  --purple: #af52de;
  --pink: #ff2d55;

  // 아래 부터 디자인이 정해준 색상들

  --kakao: #fae64c;

  --primary: #6c00ff;

  --greyscale-G01: #f2f3f4;
  --greyscale-G02: #dadedf;
  --red-warnning: #fb2576;
  --red-error: #ff304a;
}
