.heading1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 35.78px;
}

.heading2 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.heading3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.heading4 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.title1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.title2 {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
}
.title3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.title4 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.title5 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.body1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.body2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.body3 {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.body4 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.caption1 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.caption2 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
