.heading1 {
  font-family: 'AppleSDGothicNeoH00';
  font-weight: 400;
  font-size: 24px;
  line-height: 35.78px;
}

.heading2 {
  font-family: 'AppleSDGothicNeoB00';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.heading3 {
  font-family: 'AppleSDGothicNeoEB00';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.heading4 {
  font-family: 'AppleSDGothicNeoR00';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.title1 {
  font-family: 'AppleSDGothicNeoEB00';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.title2 {
  font-family: 'AppleSDGothicNeoSB00';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
}
.title3 {
  font-family: 'AppleSDGothicNeoSB00';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.title4 {
  font-family: 'AppleSDGothicNeoSB00';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.title5 {
  font-family: 'AppleSDGothicNeoSB00';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.body1 {
  font-family: 'AppleSDGothicNeoR00';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.body2 {
  font-family: 'AppleSDGothicNeoR00';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.body3 {
  font-family: 'AppleSDGothicNeoR00';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}
.body4 {
  font-family: 'AppleSDGothicNeoR00';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
